html {
    font-size: 62.5%;
}

body {
    background: linear-gradient(116.56deg, #1182A4 0%, #01193C 51.98%);
    background-repeat: no-repeat;
}

.white {
    color: white;
}

/* Navigation Bar  */
.navbar a img {
    width: 8rem;
    height: auto;
}

.navbar-nav {
    display: flex;
    justify-content: end;
    width: 100%;
}

.navbar-nav a {
    font-size: 2rem;
    margin-right: 3rem;
    color: aliceblue;
}

/* Main Heading  */
.carousel-con-center {
    position: relative;
    top: 10rem;
    left: 10rem;
    width: 50%;
}

@media(max-width:998px) {
    .carousel-con-center {
        position: relative;
        top: 0rem;
        left: 0rem;
        width: 100%;
        text-align: center;
        margin-top: 5rem;
    }
}

.carousel-con-center h1 {
    font-size: 5rem;
}

.carousel-con-center p {
    font-size: 2rem;
}

.carousel-con-center button {
    font-size: 2rem;
}

.head-carousel {
    display: flex;
    justify-content: center;
}

@media(max-width:998px) {
    .head-carousel {
        flex-wrap: wrap;
    }
}

.head-carousel-img {
    width: 60%;
}

.head-carousel-img img {
    width: 60rem;
    height: auto;
}

@media(max-width:998px) {
    .head-carousel-img {
        visibility: collapse;
    }

    .head-carousel-img img {
        display: block;
        visibility: hidden;
        width: 0rem;
        height: 0rem;
    }
}

/* client  */

.client-box {
    width: 100%;
    height: 30rem;
    background-color: aliceblue;
    border: 1px solid rgb(255, 255, 255);
    border-bottom-left-radius: 20rem;
    border-top-right-radius: 20rem;
}

@media(max-width:998px) {
    .client-box {
        height: 20rem;
        border-bottom-left-radius: 10rem;
        border-top-right-radius: 10rem;
    }
}

.client-title h2 {
    text-align: center;
    font-size: 4rem;
    font-weight: 500;
    margin-top: 1rem;
}

.img-inner {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 18rem;
}

.img-1 {
    display: flex;
    justify-content: center;
    height: 12rem;
    width: 20%;
    margin-top: 2rem;
}

.img-1 img {
    width: 100%;
    height: 100%;
    margin: 3rem;
}

/* Tile  */
.tile {
    display: flex;
    justify-content: center;
}

.tile-conatiner {
    width: 80%;
}

.tile-element {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
}

@media(max-width:998px) {
    .tile-element {
        grid-template-columns: repeat(2, 1fr);
    }
}

.tile-inner-element {
    background-color: rgba(255, 255, 255, 0.7);
    margin: 2.5rem;
    border: .1rem;
    border-radius: 1.5rem;
}

@media(max-width:998px) {
    .tile-inner-element {
        margin: 2rem;
    }
}

.tile-image {
    display: flex;
    justify-content: space-between;
    margin: 1rem;
}

.bi {
    color: rgb(255, 255, 255);
}

.tile-btn i {
    font-size: 4rem;
    margin: 1rem;
    display: flex;
    justify-self: center;
}

.tile-content {
    margin: 2rem;
}


/* Portfolio */

.portfolio-main-heading h2 {
    text-align: center;
    font-size: 4rem;
    font-weight: 500;
    color: white;
}

.carousel-inner {
    height: 35rem;

}

.portfolio-head {
    display: flex;
    justify-content: center;
}

.portfolio-main {
    width: 90%;
    display: flex;
    justify-content: center;
}

.portfolio-inner {
    width: 50%;
    margin: 3rem;
}

.portfolio-inner img {
    border-radius: .5rem;
}



/* About us */

.aboutus-head {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 5rem;
}

.aboutus-head h2 {
    color: white;
    font-size: 4rem;
    font-weight: 500;
}

.container {
    display: flex;
    width: 100%;
    margin-top: 5rem;
}

.element-con {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 20rem);
    grid-auto-rows: 15rem;
    width: 100%;
}

.img-g1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

.img-g1 img {
    width: 100%;
    height: auto;
    margin-left: 5%;
}

.img-g2 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 4;
    margin-top: 15rem;
}

.img-g2 img {
    width: 100%;
    height: auto;
    margin-left: 0%;
}

.img-g3 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
}

.img-g3 img {
    width: 100%;
    height: auto;
}

.content {
    width: 100%;
}

.about-inner {
    width: 100%;
}

.about-inner h3 {
    font-size: 3rem;
    color: white;
    font-weight: 500;
    width: 90%;
}

.para p {
    font-size: 1.5rem;
    color: white;
    font-weight: 500;
    margin-top: 3rem;
}

.button {
    margin-top: 4rem;
}

.button h2 {
    width: 45%;
    text-align: center;
    padding: 1.5rem;
    background-color: pink;
    font-size: 3rem;
}


/* what client say about us  */
.clientWord {
    height: auto;
}

/* .carousel, .carousel-item{
    width: 100%;
    height: auto;
} */

.client-inner-tile {
    display: flex;
    justify-content: center;
    height: auto;
}

.clientInnerContent {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    margin: 3rem;
    border: 1px;
    border-radius: 1rem;
}

.icon {
    width: 8rem;
    height: 8rem;
}

.icon img {
    width: 100%;
    height: auto;
}

.clientContent {
    width: 80%;
    margin-left: 10%;
}

.name {
    display: flex;
    justify-content: end;
    width: 100%;
    margin: 1rem;
}

.icon-inner {
    width: 5rem;
    height: 5rem;
    margin: 2rem;
}

.icon-inner img {
    width: 100%;
    height: auto;
}

/* Newsletter */

.container-fluid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 5rem;
}

.bg-img {
    background-size: cover;
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 200px;
}

.newsletterHeading {
    margin: 5rem;
}

.newsletterForm {
    margin: 5rem;
}

.newsletterHeading h3 {
    font-size: 5rem;
    color: rgb(0, 0, 0);
    font-weight: 700;
}

.newsletterForm input {
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-right: 15rem;
    margin: 1rem;
    width: 100%;
    background-color: rgb(248, 139, 157);
}

.newsletterForm button {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-right: 15rem;
    margin: 1rem;
    width: 100%;
}


.newsletterForm input::placeholder {
    font: 2rem/3 sans-serif;
    margin: 1rem;
    color: rgb(0, 0, 0);
    font-weight: 600;
    text-align: center;
    width: 45%;
}

.newsletterForm button h2 {
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
}


/* footer  */

.footerContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: 5rem;
    margin-right: 5rem;
    margin-top: 5rem;
}

.brand,
.brand-link,
.contact-footer {
    width: 33%;
}

.brand-footer-icon {
    width: 10rem;
    height: 10rem;
}

.brand-footer-icon img {
    width: 100%;
    height: 100%;
}

.brandContent h5 {
    color: white;
    font-size: 1.2rem;
    width: 70%;
    text-align: left;
    margin-left: 2rem;
}

.addressOfoffice .title h2 {
    color: white;
    font-size: 2.5rem;
    font-weight: bold;
    margin-left: 2rem;
    margin-top: 3rem;
    margin-bottom: 1rem;
}

.addressoffice ul li {
    text-decoration: none;
    color: white;
    font-size: 1.4rem;
    list-style-type: none;
}


.usefulLink h2 {
    color: white;
    font-size: 2.5rem;
    font-weight: bold;
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: center;
}

.links {
    display: flex;
    justify-content: center;
}

.links ul li {
    list-style-type: none;
    margin-bottom: .8rem;
}

.links a {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    text-align: left;
}


.contactUs h2 {
    color: white;
    font-size: 2.5rem;
    font-weight: bold;
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: center;
}

.contactInnerDetail{
    display: flex;
    justify-content: center;
}

.contactInnerDetail .bi{
    font-size: 2.3rem;
    margin: 2rem;
    color: white;
}

.contact-con{
    display: flex;
    justify-content: start;
}

.contact-con a{
    color: white;
    font-size: 1.7rem;
    text-decoration: none;
}

.socialMediaIcon{
    margin-top: 3rem;
}


@media(max-width:998px) {
    html {
        font-size: 55%;
    }
}

@media(max-width:768px) {
    html {
        font-size: 45%;
    }
}

@media(max-width:576px) {
    html {
        font-size: 40%;
    }
}